html {
    background-color: rgb(128,128,128,0.1);
}

a {
    text-decoration: none;
    background-color: transparent;
}

::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.first {
    font-size: 25px;
    position: relative;
    left: 50px;
    top: 75px;
}

.second {
    line-height: 16px;
    color: rgb(128,128,128);
    position: relative;
    left: 50px;
    top: 90px;
}

.second p {
    font-size: 13px;
}

.third {
    position: relative;
    left: 10px;
    top: 145px;
}

.third p {
    position: absolute;
    color: rgb(128,128,128,0.5);
    font-size: 11px;
    left: 55px;
}

.third input {
    position: absolute;
    width: 355px;
    height: 35px;
    left: 40px;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: rgb(128,128,128,0.5);
    padding-left: 14px;
    padding-top: 25px;
    font-size: 13px;
    outline:none;
}

.fourth {
    position: relative;
    display: flex;
    left: 45px;
    top: 315px;
}

.fourth p {
    position: absolute;
    font-size: 12px;
    color: rgb(128,128,128,0.7);
}

.fifth {
    display: flex;
    position: relative;
    left: 80px;
    top: 345px;
    text-align: center;
}

.fifth p {
    margin-top: 6px;
}

.login {
    height: 33px;
    width: 110px;
    background: black;
    color: white;
    position: absolute;
    left: -30px;
    border-radius: 5px;
    font-size: 16px;
}

.sign {
    width: 110px;
    height: 32px;
    border: solid;
    border-width: 1px;
    position: absolute;
    left: 100px;
    color: rgb(128,128,128);
    border-radius: 5px;
}

.sign a {
    color: rgb(128,128,128);
    text-decoration: none;
}

.first_span {
    color: rgb(128,128,128,0.7);
}

.left-side {
    width: 500px;
}

.right-side {
    width: 600px;
    background-image: url(../static/image/leave.jpg);
    background-size: 100%;
}

.left_block {
    width: 580px;
    background-image: url(../static/image/lake.jpg);
    background-size: 100%;
}

.right_block {
    width: 520px;
}

.main_block {
    position: absolute;
    display: flex;
    background-color: white;
    width: 1100px;
    height: 600px;
    left: 180px;
    bottom: 65px;
}

.sixth {
    position: relative;
}

.sixth p {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
}

.video-box {
    position: relative;
    height: 100vh;
    background-color: #C1CFF7;
    /*进行视频裁剪*/
    overflow: hidden;
}

.video-box .video-background {
    position: absolute;
    left: 50%;
    top: 50%;
    /*保证视频内容始终居中*/
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /*保证视频充满屏幕*/
    object-fit: cover;
    min-height: 800px;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 684px;
    color: white;
    text-align: center;
}

.slogan a {
    text-decoration: none;
    color: rgb(128,128,128,0.7);
}

.sixth {
    position: relative;
    left: 60px;
    top: 480px;
}

.sixth a {
    text-decoration: none;
    color: black;
}

.submit {
    width: 110px;
    height: 33px;
    position: absolute;
    left: 6px;
    top: 20px;
    background: black;
    color: white;
    border: unset;
    font-size: 16px;
    border-radius: 5px;
}

.log {
    border: solid;
    padding-top: 4px;
    width: 109px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 155px;
    text-align: center;
    color: rgb(128,128,128,0.5);
    border-radius: 5px;
}

.log a {
    color: rgb(128,128,128);
    text-decoration: none;
}

.top_column {
    width: auto;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
}

.first_button {
    width: 56px;
    background: white;
    height: 70px;
    border: unset;
}

.menu {
    width: 30px;
}

.search {
    width: 220px;
    height: 40px;
    position: absolute;
    top: 15px;
    background: rgb(128,128,128,0.1);
    border: unset;
    border-radius: 20px;
    text-indent: 36px;
    font-size: 15px;
    outline: none;
}

.search_img {
    width: 14px;
    position: absolute;
    top: 27px;
    left: 15px;
}

.second_button {
    width: 125px;
    background: white;
    border: unset;
    color: rgb(128,128,128);
    font-size: 15px;
}

.third_button {
    border: unset;
    left: 645px;
    width: 50px;
    height: 70px;
    background: white;
}

.fourth_button {
    height: 70px;
    width: 50px;
    right: 355px;
    border: unset;
    background: white;
}


.left-row {
    width: 240px;
    height: 702.5px;
    background: #2a323c;
    padding-top: 10px;
    padding-bottom: 30px;
    border-right: 1px solid #eee;
    position: fixed;
    top: 70px;
    left: 0px;
}

.left_bar {
    list-style-type: none;
    list-style-type: none;
    width: 240px;
    height: 160px;
    margin-left: -21px;
    margin-right: -20px;
}

.left_bar li a {
    display: block;
    width: 200px;
    height: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #74788d;
}

.left_bar :hover {
  color: white;
}

.active {
    color: #FFF;
    background-color: #428bca;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .8s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.dropdown-language {
    display: block;
    padding: 0.41rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    font-size: .9rem;
    border: 0;
}

.dropdown-language img {
    width: 21px;
    position: relative;
    top: 2px;
    padding-right: 2px;
}

.dropdown-menu :hover {
    background-color: rgb(128,128,128, 0.1);
}

.dropdown-menu {
    width: 160px;
    height: 136px;
    background: #FFF;
    position: absolute;
    right: 655px;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
}

.dropdown-menu-app {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
    right: 605px;
    width: 320px;
    height: 188px;
}

.dropdown-menu-account {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
    right: 405px;
    width: 160px;
    height: 188px;
}

.dropdown-menu-message {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
    right: 505px;
    width: 320px;
    height: 331.6px;
}

.dropdown-menu-mega {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 20px;
    width: 1360px;
    height: 262px;
}

.dropdown-menu-account :hover{
    background-color: rgb(128,128,128,0.1);
}

.col {
    width: 101px;
    height: 94px;
    text-align: center;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.col img {
    width: 30px;
}

.dropdown-icon-item {
    display: block;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 12px 0 6px;
    display: block;
    border: 1px solid transparent;
    color: #74788d;
}

.col a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    position: relative;
    bottom: 10px;
}

.col:hover .dropdown-icon-item {
    color: #04a2b3;
    border: solid;   
    border-color: rgb(128,128,128,0.1);
    border-width: 1px;
}

.first_row {
    display: flex;
    width: 304px;
    height: 94px;
}

.second_row {
    display: flex;
    width: 304px;
    height: 94px;
}

.dropdown-item {
    display: block;
    width: 112px;
    height: 23px;
    font-size: 14px;
    padding: 0.35rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item img {
    width: 17px;
    position: relative;
    top: 3px;
    padding-right: 7px;
}

.dropdown-driver {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #eff2f7;
    border-top-color: #dadee3;
}

.first_line {
    width: 288px;
    height: 21.6px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.chatbar {
    position: absolute;
    max-height: 230px;
    height: 230px;
    top: 53.5px;
    width: 320px;
}

.data-simplebar {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.view {
    width: 304px;
    height: 31px;
    padding: 8px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #dadee3!important;
}

.view_all {
    display: block;
    width: 286px;
    height: 21px;
    padding: 4px 8px;
}

.left_row {
    width: 240px;
    height: 702.5px;
}

.left_row :hover {
    color: white;
    opacity: 1;
}

.left_row li {
    display: block;
    width: auto;
}

.menu-title {
    padding: 12px 20px!important;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    color: #74788d;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    opacity: .5;
}

.website {
    display: block;
    height: 24.7px;
    padding: 0.625rem 1.5rem;
    color: #74788d;
    position: relative;
    font-size: 13.3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
}

.website img {
    display: inline-block;
    padding-bottom: 0.125em;
    font-size: 1.1rem;
    line-height: 1.40625rem;
    vertical-align: middle;
    color: #505d69;
    -webkit-transition: all .4s;
    transition: all .4s;
    opacity: .75;
    padding-right: 5px;
    position: relative;
    padding-left:4px;
    padding-right:12px;
    top:2px;
}

.website span {
    position: relative;
    top: 3px;
}

.demo{
    height  : 613px;
    overflow: auto;
    border  : none;
}

/*滚动条整体样式*/
.demo-1::-webkit-scrollbar {
    width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
/*滚动条里面小方块*/
.demo-1::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.2);
    background   : rgb(128,128,128,0.6)
}
/*滚动条里面轨道*/
.demo-1::-webkit-scrollbar-track { 
    box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}

.logo {
    width: 192px;
    height: 70px;
    padding: 0 24px;
    background: #2a323c;
}

.main_content {
    margin-left: 240px;
    margin-top: 71px;
    overflow: hidden;
}

.mega_menu {
    position: absolute;
    width: 1360px;
    height: 262px;
    padding: 20px;
    top: 70px;
    left: 20px;
    right: 20px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 5px 12px rgba(0,0,0,.1);
    animation-name: DropDownSlide;
    animation-fill-mode: both;
    font-size: .9rem;
    color: #505d69;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 283.5px;
    height: 262px;
    padding: 0 12px;
}

.col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 206.664px;
    height: 262px;
    padding: 0 12px;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 168.219px;
    height: 262px;
    padding: 0 12px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li {
    position: relative;
    padding: 5px 0;
}

.list-unstyled li a {
    color:#505d69;
}