html {
    background-color: rgb(128,128,128,0.1);
}

a {
    text-decoration: none;
    background-color: transparent;
}

::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.flash-left {
    position: absolute;
    top: 175px;
    left: 50px;
    padding: 0 5px;
    font-size: 14px;
    color: black;
    background: #cae6f6;
    border: 1px solid #377ba8;
    border-radius: 5px;
}

.flash-right {
    position: absolute;
    top: 160px;
    right: 140px;
    padding: 0 5px;
    font-size: 14px;
    color: black;
    background: #cae6f6;
    border: 1px solid #377ba8;
    border-radius: 5px;
}

.first {
    font-size: 25px;
    position: relative;
    left: 50px;
    top: 75px;
}

.second {
    line-height: 16px;
    color: rgb(128,128,128);
    position: relative;
    left: 50px;
    top: 90px;
}

.second p {
    font-size: 13px;
}

.third {
    position: relative;
    left: 10px;
    top: 145px;
}

.third p {
    position: absolute;
    color: rgb(128,128,128,0.5);
    font-size: 11px;
    left: 55px;
}

.third input {
    position: absolute;
    width: 355px;
    height: 35px;
    left: 40px;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: rgb(128,128,128,0.5);
    padding-left: 14px;
    padding-top: 25px;
    font-size: 13px;
    outline:none;
}

.fourth {
    position: relative;
    display: flex;
    left: 45px;
    top: 315px;
}

.fourth p {
    position: absolute;
    font-size: 12px;
    color: rgb(128,128,128,0.7);
}

.fifth {
    display: flex;
    position: relative;
    left: 80px;
    top: 345px;
    text-align: center;
}

.fifth p {
    margin-top: 6px;
}

.login {
    height: 33px;
    width: 110px;
    background: black;
    color: white;
    position: absolute;
    left: -30px;
    border-radius: 5px;
    font-size: 16px;
}

.sign {
    width: 110px;
    height: 32px;
    border: solid;
    border-width: 1px;
    position: absolute;
    left: 100px;
    color: rgb(128,128,128);
    border-radius: 5px;
}

.sign a {
    color: rgb(128,128,128);
    text-decoration: none;
}

.first_span {
    color: rgb(128,128,128,0.7);
}

.left-side {
    width: 500px;
}

.right-side {
    width: 600px;
    background-image: url(../static/image/leave.jpg);
    background-size: 100%;
}

.right-side_change {
    width: 600px;
    background-image: url(../static/image/winter.jpg);
    background-size: 100%;
}

.left_block {
    width: 580px;
    background-image: url(../static/image/lake.jpg);
    background-size: 100%;
}

.left_block_forget {
    width: 580px;
    background-image: url(../static/image/beach.jpg);
    background-size: 100%;
}

.right_block {
    width: 520px;
}

.main_block {
    position: absolute;
    display: flex;
    background-color: white;
    width: 1100px;
    height: 600px;
    left: 180px;
    bottom: 65px;
}

.sixth {
    position: relative;
}

.sixth p {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
}

.video-box {
    position: relative;
    height: 100vh;
    background-color: #C1CFF7;
    /*进行视频裁剪*/
    overflow: hidden;
}

.video-box .video-background {
    position: absolute;
    left: 50%;
    top: 50%;
    /*保证视频内容始终居中*/
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /*保证视频充满屏幕*/
    object-fit: cover;
    min-height: 800px;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 684px;
    color: white;
    text-align: center;
}

.slogan a {
    text-decoration: none;
    color: rgb(128,128,128,0.7);
}

.sixth {
    position: relative;
    left: 60px;
    top: 480px;
}

.sixth a {
    text-decoration: none;
    color: black;
}

.submit {
    width: 110px;
    height: 33px;
    position: absolute;
    left: 6px;
    top: 20px;
    background: black;
    color: white;
    border: unset;
    font-size: 16px;
    border-radius: 5px;
}

.log {
    border: solid;
    padding-top: 4px;
    width: 109px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 155px;
    text-align: center;
    color: rgb(128,128,128,0.5);
    border-radius: 5px;
}

.log a {
    color: rgb(128,128,128);
    text-decoration: none;
}

.top_column {
    width: auto;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
}

.first_button {
    width: 56px;
    background: white;
    height: 70px;
    border: unset;
}

.menu {
    width: 30px;
}

.search {
    width: 220px;
    height: 40px;
    position: absolute;
    top: 15px;
    background: rgb(128,128,128,0.1);
    border: unset;
    border-radius: 20px;
    text-indent: 36px;
    font-size: 15px;
    outline: none;
}

.search_img {
    width: 14px;
    position: absolute;
    top: 27px;
    left: 15px;
}

.second_button {
    width: 125px;
    background: white;
    border: unset;
    color: rgb(128,128,128);
    font-size: 15px;
}

.third_button {
    border: unset;
    left: 645px;
    width: 50px;
    height: 70px;
    background: white;
}

.fourth_button {
    height: 70px;
    width: 50px;
    right: 355px;
    border: unset;
    background: white;
}


.left-row {
    width: 240px;
    height: 702.5px;
    background: #2a323c;
    padding-top: 10px;
    padding-bottom: 30px;
    border-right: 1px solid #eee;
    position: fixed;
    top: 70px;
    left: 0px;
}

.left_bar {
    list-style-type: none;
    list-style-type: none;
    width: 240px;
    height: 160px;
    margin-left: -21px;
    margin-right: -20px;
}

.left_bar li a {
    display: block;
    width: 200px;
    height: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #74788d;
}

.left_bar :hover {
  color: white;
}

.active {
    color: #FFF;
    background-color: #428bca;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .8s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.dropdown-language {
    display: block;
    padding: 0.41rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    font-size: .9rem;
    border: 0;
}

.dropdown-language img {
    width: 21px;
    position: relative;
    top: 2px;
    padding-right: 2px;
}

.dropdown-menu :hover {
    background-color: rgb(128,128,128, 0.1);
}

.dropdown-menu {
    width: 160px;
    height: 136px;
    background: #FFF;
    position: absolute;
    right: 655px;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
}

.dropdown-menu-app {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
    right: 605px;
    width: 320px;
    height: 188px;
}

.dropdown-menu-account {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
    right: 405px;
    width: 160px;
    height: 188px;
}

.dropdown-menu-message {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 8px 0;
    right: 505px;
    width: 320px;
    height: 331.6px;
}

.dropdown-menu-mega {
    background: #FFF;
    position: absolute;
    top: 70px;
    border-radius: 6px;
    padding: 20px;
    width: 1360px;
    height: 262px;
}

.dropdown-menu-account :hover{
    background-color: rgb(128,128,128,0.1);
}

.col {
    width: 101px;
    height: 94px;
    text-align: center;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.col img {
    width: 30px;
}

.dropdown-icon-item {
    display: block;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 12px 0 6px;
    display: block;
    border: 1px solid transparent;
    color: #74788d;
}

.col a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    position: relative;
    bottom: 10px;
}

.col:hover .dropdown-icon-item {
    color: #04a2b3;
    border: solid;   
    border-color: rgb(128,128,128,0.1);
    border-width: 1px;
}

.first_row {
    display: flex;
    width: 304px;
    height: 94px;
}

.second_row {
    display: flex;
    width: 304px;
    height: 94px;
}

.dropdown-item {
    display: block;
    width: 112px;
    height: 23px;
    font-size: 14px;
    padding: 0.35rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item img {
    width: 17px;
    position: relative;
    top: 3px;
    padding-right: 7px;
}

.dropdown-driver {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #eff2f7;
    border-top-color: #dadee3;
}

.first_line {
    width: 288px;
    height: 21.6px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.chatbar {
    position: absolute;
    max-height: 230px;
    height: 230px;
    top: 53.5px;
    width: 320px;
}

.data-simplebar {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.view {
    width: 304px;
    height: 31px;
    padding: 8px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #dadee3!important;
}

.view_all {
    display: block;
    width: 286px;
    height: 21px;
    padding: 4px 8px;
}

.left_row {
    width: 240px;
    height: 702.5px;
}

.left_row :hover {
    color: white;
    opacity: 1;
}

.left_row li {
    display: block;
    width: auto;
}

.menu-title {
    padding: 12px 20px!important;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    color: #74788d;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    opacity: .5;
}

.website {
    display: block;
    height: 24.7px;
    padding: 0.625rem 1.5rem;
    color: #74788d;
    position: relative;
    font-size: 13.3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
}

.website img {
    display: inline-block;
    padding-bottom: 0.125em;
    font-size: 1.1rem;
    line-height: 1.40625rem;
    vertical-align: middle;
    color: #505d69;
    -webkit-transition: all .4s;
    transition: all .4s;
    opacity: .75;
    padding-right: 5px;
    position: relative;
    padding-left:4px;
    padding-right:12px;
    top:2px;
}

.website span {
    position: relative;
    top: 3px;
}

.demo{
    height  : 613px;
    overflow: auto;
    border  : none;
}

/*滚动条整体样式*/
.demo-1::-webkit-scrollbar {
    width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
/*滚动条里面小方块*/
.demo-1::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.2);
    background   : rgb(128,128,128,0.6)
}
/*滚动条里面轨道*/
.demo-1::-webkit-scrollbar-track { 
    box-shadow   : inset 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}

.logo {
    width: 192px;
    height: 70px;
    padding: 0 24px;
    background: #2a323c;
}

.main_content {
    margin-left: 240px;
    margin-top: 71px;
    overflow: hidden;
}

.mega_menu {
    position: absolute;
    width: 1360px;
    height: 262px;
    padding: 20px;
    top: 70px;
    left: 20px;
    right: 20px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 5px 12px rgba(0,0,0,.1);
    animation-name: DropDownSlide;
    animation-fill-mode: both;
    font-size: .9rem;
    color: #505d69;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 283.5px;
    height: 262px;
    padding: 0 12px;
}

.col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 206.664px;
    height: 262px;
    padding: 0 12px;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 168.219px;
    height: 262px;
    padding: 0 12px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li {
    position: relative;
    padding: 5px 0;
}

.list-unstyled li a {
    color:#505d69;
    font-family: Georgia, serif;
}

.content_title {
    width: 1200px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.content_right_title {
    position: relative;
}

.content_right_title ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 15px;
    top: 1px;
}

.content_right_title ul li a {
    position: relative;
    color: #505d69;
    right:5px;
    font-size: 14px;
}

.content_right_title ul li span {
    font-size: 14px;
    color: #74788d;
    margin-top: 2px;
}

.content_title h4 {
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 2px;
}

.text-center {
    height: 171.34px;
    display: flex;
}

.text-card {
    height: 147.334px;
    width: 276px;
    padding: 0 12px;
}

.text-card-center {
    border-radius: 6px;
    margin-bottom: 24px;
    height: 147.334px;
    background: white;
    width: 276px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    color: #74788d;
    text-align: center;
}

.main-text {
    padding: 20px;
    height: 107.334px;
    width: 236px;
}

.main-text h4 {
    margin-bottom:7px;
}

.main-text h2 {
    color:black;
    font-size: 29px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.main-text h2 img {
    width: 34.8px;
    height: 30px;
}

.main-text p {
    font-size:14px;
    margin-top:16px;
}

.text-end {
    height: 503.32px;
    display: flex;
}

.end-left {
    padding:0 12px;
    width: 676px;
}

.end-left-1 {
    margin-bottom: 24px;
    width: 676px;
    height: 479.32px;
    background-color: white;
    border-radius: 6px;
}

.end-left-2 {
    padding: 20px;
    height: 636px;
    height: 439.32px;
}

.endtitle {
    width: 636px;
    height: 19.195px;
    margin-bottom: 24px;
}

.end-left-3 {
    width: 636px;
    height: 396.125px;
    padding: 0 12px;
}

.end-right {
    padding:0 12px;
    width: 476px;
}

.end-right-1 {
    margin-bottom: 24px;
    width: 476px;
    height: 479.32px;
    background-color: white;
    border-radius: 6px;
}

.end-right-2 {
    padding: 20px;
    height: 436px;
    height: 439.32px;
}

.end-right-2 p {
    font-size: 15px;
    margin-bottom: 4px;
}

.end-right-2 span {
    --bs-text-opacity: 1;
    font-weight: bolder;
    color: #04a2b3;
    float: right;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.625rem;
    overflow: hidden;
    font-size: .675rem;
    background-color: #f1f5f7;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.progress-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #04a2b3;
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
}

.end-table {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    width: 660px;
    height: 412.13px;
}

.table-response {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 636px;
    height: 396.13px;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #505d69;
    --bs-table-striped-bg: #f8f9fa;
    --bs-table-active-color: #505d69;
    --bs-table-active-bg: #f8f9fa;
    --bs-table-hover-color: #505d69;
    --bs-table-hover-bg: #f8f9fa;
    width: 100%;
    margin-bottom: 1rem;
    color: #505d69;
    vertical-align: top;
    border-color: #dadee3;
    caption-side: bottom;
    border-collapse: collapse;
    height: 396.13px;
}

.table>thead>tr>th {
    border-bottom: 2px solid #dadee3;
}

.table>thead>tr>th {
    border-bottom: 2px solid #dadee3;
}

.table th b {
    float: left;
    font-size: 15px;
    color: #212529;
}

.table td {
    font-size: 14px;
    font-weight: 500;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.footer {
    padding: 20px calc(24px / 2);
    color: #74788d;
    position: absolute;
    left: 240px;
    width: 1200px;
    height: 20px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    background-color: #fff;
}

.container-foot {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    width: 1152px;
    height: 21.594px;
}

.heart {
    width: 14px;
    position: relative;
    top: 2px;
    right: 2px;
}

.block_1 {
    width: 1200px;
    height: 623.7px;
    margin-top: 24px;
}

.block_2 {
    width: 1200px;
    height: 600px;
    padding: 0 12px;
}

.block_3 {
    width: 1176px;
    height: 600px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    border-radius: 0.35rem;
    margin-bottom: 24px;
}

.block_4 {
    padding: 20px;
    width: 1136px;
    height: 560px;
}

.block_5 {
    width: 1160px;
    height: 36.891px;
    display: flex;
    margin: 0 -12px;
}

.card-title {
    font-size: 16px;
    margin: 0 0 7px 0;
    font-weight: 500;
}

.card-title-desc {
    color: #74788d;
    margin-bottom: 24px;
    font-size: 14px;
}

.data-table {
    width: 1136px;
    height: 395.594px;
    margin: 0 -12px;
}

.block-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
   flex: 0 0 auto;
    width: 50%;
}

.block-left label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
}

.block-left input {
    display: inline-block;
    width: 156px;
    padding: 0.25rem 0.5rem;
    margin-left: 6.3px;
    font-size: .7875rem;
    border-radius: 0.2rem;
    font-weight: 400;
    outline: none;
    appearance: none;
    line-height: 1.5;
    color: #505d69;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.block_6 {
    width: 1136px;
    height: 395.594px;
    padding: 0 12px;
}

.scroll_header {
    overflow: hidden;
    border: 0px;
    width: 100%;
    height: 39.49px;
    margin-top: 6px;
}

.scroll_headinner {
    height: 39.59px;
    box-sizing: content-box;
    width: 1136px;
    padding-right: 0px
}

.dataTable {
    clear: both;
    margin-bottom: 0px;
    border-collapse: separate !important;
    border-spacing: 0;
    width: 1136px;
    height: 39.594px;
}

.table th {
    color: #212529;
}

.scroll_body {
    overflow: auto;
    height: 350px;
    max-height: 350px;
    width: 100%;
}

.block_7 {
    width: 1160px;
    height: 33.838px;
    margin: 0 -12px;
    display: flex;
}

.block_8 {
    width: 459.329px;
    height: 33.838px;
    padding: 0 12px;
}

.block_9 {
    width: 459.329px;
    height: 21.588px;
    padding-top: 12.25px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(80,93,105);
}

.sps td {
    padding: 8.5px 8px;
}

.left_part {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.left_part ul {
    list-style-type: none;
}

.left_part ul li {
    padding: 9px;
    font-weight: 600;
}

.right_part {
    width: 576px;
    height: auto;
}

.top_part {
    display: flex;
    height: 250px;
}

.top_part img {
    width: 33%;
    height: 183.61px;
}

.bottom_part {
    height: 300px;
}

.bottom_part input {
    width: 150px;
    height: 30px;
    margin: 45px 60px;
}

.textarea {
    padding-left: 10px;
    width: 500px;
    height: 150px;
    margin-left: 20px;
    margin-top: 30px;
}