{% extends "base_manage.html" %}

{% block content %}
<div class="main_content">
    <div class="block_1">
        <div class="block_2">
            <div class="block_3">
                <div class="block_4">
                    <h4 class="card-title">Personal Information</h4>
                    <p class="card-title-desc">This example shows the DataTables table body scrolling in the vertical direction.
                         This can generally be seen as an alternative method to pagination for displaying a large table in a fairly small vertical area,
                         and as such pagination has been disabled here(note that this is not mandatory,it will work just fine with pagination enabled as well!).</p>
                     <div class="block_5">
                        <div class="block-left"></div>
                        <div style="text-align:right" class="block-left">
                            <label>Search:<input type="search" class="form-control" placeholder aria-controls="scroll-vertical-datatable"></label>
                        </div>
                    </div>
                    <div class="data-table">
                        <div class="block_6">
                            <div class="scroll_header">
                                <table class="table dataTable">
                                    <thead>
                                        <tr style="text-align:left;font-size:15px" role="row">
                                            <th style="width :120px">Name</th>
                                            <th style="width :110px">Gender</th>
                                            <th style="width :125px">Birth</th>
                                            <th style="width :130px">ID number</th>
                                            <th style="width :130px">Crime id</th>
                                            <th style="width :130px">Insurance id</th>
                                            <th style="width:140px">Email</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="scroll_body">

                            </div>
                        <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}