{% extends "base_manage.html" %}

{% block content %}
<div class="main_content">
    <div class="block_1">
        <div class="block_2">
            <div class="block_3">
                <div class="block_4">
                    <h4 class="card-title">Personal Information</h4>
                    <p class="card-title-desc">This example shows the DataTables table body scrolling in the vertical direction.
                         This can generally be seen as an alternative method to pagination for displaying a large table in a fairly small vertical area,
                         and as such pagination has been disabled here(note that this is not mandatory,it will work just fine with pagination enabled as well!).</p>
                     <div class="block_5">
                        <div class="block-left"></div>
                        <div style="text-align:right" class="block-left">
                            <label>Search:<input type="search" class="form-control" placeholder aria-controls="scroll-vertical-datatable"></label>
                        </div>
                    </div>
                    <div class="data-table">
                        <div class="block_6">
                            <div class="scroll_header">
                                <table class="table dataTable">
                                    <thead>
                                        <tr style="text-align:left;font-size:15px" role="row">
                                            <th style="width :85px">Name</th>
                                            <th style="width :85px">Gender</th>
                                            <th style="width :115px">Birth</th>
                                            <th style="width:145px">phone</th>
                                            <th style="width :185px">ID number</th>
                                            <th style="width :185px">Crime id</th>
                                            <th>Insurance id</th>
                                            
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="scroll_body">
                                <table class="table dataTable">
                                <thead>
                                    <tr style="height:0px"></tr>
                                </thead>
                                <tbody>
                                    {% for account in accounts %}
                                    <tr class="sps">
                                        <td style="width:85px">{{ account['person_name'] }}</td>
                                        <td style="width:85px">{{ account['person_gender'] }}</td>
                                        <td style="width:115px">{{ account['person_birth'] }}</td>
                                        <td style="width:145px">{{ account['person_phone'] }}</td>
                                        <td style="width:185px">{{ account['person_idcard'] }}</td>
                                        <td style="width:185px">{{ account['crime_id'] }}</td>
                                        <td>{{ account['insurance_id'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                    <div class="block_7">
                        <div class="block_8">
                            <div class="block_9">
                                Showing 1 to 17 of 17 entries
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}