{% extends "base_manage.html" %}

{% block content %}
<div class="main_content">
    <div class="content_title">
        <h4>Dashboard</h4>
    </div>

    <div class="text-center">
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Total Subscription</h4>
                    <h2><img style="width:30.8px" src="../static/image/red_down.png"><b>8952</b></h2>
                    <p><b style="font-weight:bolder">48%</b>From Last 24 Hours</p>
                </div>
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Order Status</h4>
                    <h2><b><img src="../static/image/green_up.png">6521</b></h2>
                    <p><b style="font-weight:bolder">42%</b>Orders in Last 10 months</p>
                </div>
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Unique Vistors</h4>
                    <h2><img src="../static/image/green_up.png"><b>452</b></h2>
                    <p><b style="font-weight:bolder">22%</b>From Last 24 Hours</p>
                </div>
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Monthly Earnings</h4>
                    <h2><img style="width:30.8px" src="../static/image/red_down.png"><b>5621</b></h2>
                    <p><b style="font-weight:bolder">35%</b>From Last 1 Month</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end">
<!--Left chart-->
        <div class="end-left">
            <div class="end-left-1">
                <div class="end-left-2">
                    <h4 class="endtitle">Recent Contacts</h4>
                    <div class="end-table">
                        <div class="end-left-3">
                            <div class="table-response">
                                <table class="table">
                                    <thead>
                                        <tr style="height:38.59px">
                                            <th><b>Name</b></th>
                                            <th><b>Position</b></th>
                                            <th><b>Office</b></th>
                                            <th><b>Age</b></th>
                                            <th><b>Start date</b></th>
                                            <th><b>Salary</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/05</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>San Francisco</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--right chart-->
        <div class="end-right">
            <div class="end-right-1">
                <div class="end-right-2">
                    <h4 class="endtitle">Goal Completion</h4>
                    <p>Add Product to cart<span>80%</span></p>
                    <div class="progress">
                        <div style="width:80%" class="progress-bar"></div></div>
                    <p>Complete Purchases<span>50%</span></p>
                    <div class="progress">
                        <div style="width:50%" class="progress-bar"></div></div>
                    <p>Visit Premium plan<span>70%</span></p>
                    <div class="progress">
                        <div style="width:70%" class="progress-bar"></div></div>
                    <p>Send Inquires<span>65%</span></p>
                    <div class="progress">
                        <div style="width:65%" class="progress-bar"></div></div>
                    <p>Monthly Purchases<span>25%</span></p>
                    <div class="progress">
                        <div style="width:25%" class="progress-bar"></div></div>
                    <p>Daily Visits<span>40%</span></p>
                    <div class="progress">
                        <div style="width:40%" class="progress-bar"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-foot">
        <div style="font-size:14px">2023© Wither.</div>
        <div style="font-size:14px">Crafted with <img class="heart" src="../static/image/heart.png">By <span>CSS</span></div>
    </div>
</footer>

{% endblock %}
