<!doctype html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
<link rel="icon" href="{{ url_for('static', filename='wither_rose.png') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
</head>

<body>
<nav class="top_column">
    <button onclick="set_menu()" class="first_button ripple">
        <img class="menu " src="../static/image/menu.png">
    </button>
    <div style="width:225px;position:relative">
        <img class="search_img" src="../static/image/search.png">
        <input class="search" name="search" type="text" placeholder="Search..." autocomplete="off">
    </div>

<!--Mega Menu-->
    <button onclick="set_mega_menu()" class="second_button ripple">
        <p>Mega Menu  <img style="width:10px" src="../static/image/down-arror.png"></p>
    </button>


<!--语言选择-->
    <button onclick="set_language()" class="third_button ripple">
        <img style="width:25px" src="../static/image/chinese.png">
    </button>
    <div id="language" class="dropdown-menu hidden">
        <a href="#" class="dropdown-language"><img src="../static/image/English.png" style="width:24px; top:4px; padding-right:0px"> English</a>
        <a href="#" class="dropdown-language"><img src="../static/image/Spanish.png">  Spanish</a>
        <a href="#" class="dropdown-language"><img src="../static/image/Italian.png">  Italian</a>
        <a href="#" class="dropdown-language"><img src="../static/image/German.png">  German</a>
    </div>

    <div style="width:1000px"></div>

<!--应用选择-->
    <div>
    <button onclick="set_app()" class="fourth_button ripple">
        <img style="width:20px" src="../static/image/app.png">
    </button>
    <div id="app" class="dropdown-menu-app hidden">
        <div style="padding:0 8px;width:304px;height:188px">
            <div class="first_row">
                <div class="col"><a href="#" class="dropdown-icon-item"><img src="../static/image/Github.png"><span>Github</span></a></div>
                <div class="col"><a href="#" class="dropdown-icon-item"><img src="../static/image/bitbucket.png"><span>Bitbucket</span></a></div>
                <div class="col"><a href="#" class="dropdown-icon-item"><img src="../static/image/dribbble.png"><span>Dribbble</span></a></div>
            </div>
            <div class="second_row">
                <div class="col"><a href="#" class="dropdown-icon-item"><img src="../static/image/dropbox.png"><span>Dropbox</span></a></div>
                <div class="col"><a href="#" class="dropdown-icon-item"><img src="../static/image/chatgpt.png"><span>OpenAI</span></a></div>
                <div class="col"><a href="#" class="dropdown-icon-item"><img src="../static/image/canva.png"><span>Canva</span></a></div>
            </div>
        </div>
    </div>
    </div>

    <button class="fourth_button ripple">
        <img style="width:20px" src="../static/image/open.png">
    </button>

<!--消息中心-->
    <div>
    <button onclick="set_message()" class="fourth_button ripple">
        <img style="width:30px" src="../static/image/ring.png">
    </button>
    <div id="message" class="dropdown-menu-message hidden">
        <div class="first_line">
            <div><h6 style="font-size:15px">Notifications</h6></div>
            <div><a style="font-size: small;color: #04a2b3;" href="#">View All</a></div>
        </div>
        <div class="data-simplebar chatbar" style="max-height:230px"></div>
        <div class="view">
             <a class="view_all" href="#"><img style="width:15px;position: relative;top: 2px;right: 5px;" src="../static/image/right_arror.png"><span style="font-size: 14px;color: #04a2b3;">View More...</span></a>
        </div>
    </div>
    </div>

<!--个人中心-->
    <div>
    <button onclick="set_profile()" style="width:100px" class="fourth_button ripple">
        <span style="padding-right:2px">Adam</span><img style="width:10px" src="../static/image/down-arror.png"> 
    </button>
    <div id="profile" class="dropdown-menu-account hidden">
        <a class="dropdown-item" href="#"><img src="../static/image/profile.png"><span>Profile</span></a>
        <a class="dropdown-item" href="#"><img src="../static/image/wallet.png"><span>My Wallet</span></a>
        <a class="dropdown-item" href="#"><img style="width: 23px;top: 0px;right: 3px;padding-right: 3px;" src="../static/image/set.png"><span style="position:relative;bottom:6px">Settings</span></a>
        <a class="dropdown-item" href="#"><img src="../static/image/unlock.png"><span>Lock Screen</span></a>
        <div class="dropdown-driver"></div>
        <a class="dropdown-item" href="#"><img src="../static/image/out.png"><span style="color:red">Logout</span></a>
    </div>
    </div>

    <button class="fourth_button ripple">
        <img style="width:28px" src="../static/image/setting.png">
    </button>

</nav>

<div id="menu" class="left-row demo demo-1">
    <ul class="left_row ">
        <li class="menu-title">Menu</li>
        <li><a class="website" href="#" style="color:white"><img style="width:25px;padding-left:0px;padding-right:5px;top:0px" src="../static/image/dashboard.png"><span style="top:0px">Dashboard</span></a></li>
        <li><a class="website" href="#"><img style="width:15px" src="../static/image/calender.png"><span>Calendar</span></a></li>
        <li><a class="website" href="#"><img style="width:17px" src="../static/image/chat.png"><span>Chat</span></a></li>
        <li><a class="website" href="#"><img style="width:17px" src="../static/image/layout.png"><span>Layouts</span></a></li>
        <li class="menu-title">PAGES</li>
        <li><a class="website" href="#"><img style="width:20px;" src="../static/image/authentication.png"><span>Authentication<span></a></li>
        <li><a class="website" href="#"><img style="width:20px;" src="../static/image/utility.png"><span>Utility</span></a></li>
        <li class="menu-title">COMPONENTS</li>
        <li><a class="website" href="#"><img style="width:16px" src="../static/image/UI.png"><span>UI Element</span></a></li>
        <li><a class="website" href="#"><img style="width:16px" src="../static/image/forms.png"><span>Forms</span></a></li>
        <li><a class="website" href="#"><img style="width:16px" src="../static/image/tables.png"><span>Tables</span></a></li>
        <li><a class="website" href="#"><img style="width:16px" src="../static/image/chart.png"><span>Charts</span></a></li>
        <li><a class="website" href="#"><img style="width:16px" src="../static/image/icons.png"><span>Icons</span></a></li>
        <li><a class="website" href="#"><img style="width:16px" src="../static/image/maps.png"><span>Maps</span></a></li>
        <li><a class="website" href="#"><img style="width:20px;top:0px" src="../static/image/muti.png"><span style="top:0px">Mult Level</span></a></li>
    </ul>
</div>

<div class="mega_menu hidden" id="mega_menu">
    <div class="row">
        <div class="col-md-4">
            <h5 style="font-size:14px;margin-bottom:8px">UI Components</h5>
            <ul class="list-unstyled">
                <li><a href="#">Lightbox</a></li>
                <li><a href="#">Range Slider</a></li>
                <li><a href="#">Sweet Alert</a></li>
                <li><a href="#">Rating</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Tables</a></li>
                <li><a href="#">Charts</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 style="font-size:14px;margin-bottom:8px">Applications</h5>
            <ul class="list-unstyled">
                <li><a href="#">Ecommerce</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 style="font-size:14px;margin-bottom:8px">Extra Pages</h5>
            <ul class="list-unstyled">
                <li><a href="#">Light Sidebar</a></li>
                <li><a href="#">Compact Sidebar</a></li>
                <li><a href="#">Horizontal layout</a></li>
                <li><a href="#">Maintenance</a></li>
                <li><a href="#">Coming Soon</a></li>
                <li><a href="#">Timeline</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-5">
            <h5 style="font-size:14px;margin-bottom:8px">UI Design</h5>
            <ul class="list-unstyled">
                <li><a href="#">Lightbox</a></li>
                <li><a href="#">Range Slider</a></li>
                <li><a href="#">Sweet Alert</a></li>
                <li><a href="#">Rating</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Tables</a></li>
                <li><a href="#">Charts</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <img style="width:200px" src="../static/image/work.png">
        </div>
    </div>
</div>

<div class="main_content">
    <div class="content_title">
        <h4>Dashboard</h4>
    </div>

    <div class="text-center">
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Total Subscription</h4>
                    <h2><img style="width:30.8px" src="../static/image/red_down.png"><b>8952</b></h2>
                    <p><b style="font-weight:bolder">48%</b>From Last 24 Hours</p>
                </div>
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Order Status</h4>
                    <h2><b><img src="../static/image/green_up.png">6521</b></h2>
                    <p><b style="font-weight:bolder">42%</b>Orders in Last 10 months</p>
                </div>
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Unique Vistors</h4>
                    <h2><img src="../static/image/green_up.png"><b>452</b></h2>
                    <p><b style="font-weight:bolder">22%</b>From Last 24 Hours</p>
                </div>
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-center">
                <div class="main-text">
                    <h4>Monthly Earnings</h4>
                    <h2><img style="width:30.8px" src="../static/image/red_down.png"><b>5621</b></h2>
                    <p><b style="font-weight:bolder">35%</b>From Last 1 Month</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end">
        <div class="end-left">
            <div class="end-left-1">
                <div class="end-left-2">
                    <h4 class="endtitle">Recent Contacts</h4>
                    <div class="end-left-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="end-right">
            <div class="end-right-1">
                <div class="end-right-2">
                    <h4 class="endtitle">Goal Completion</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-foot">
        <div style="font-size:14px">2023© Appzia.</div>
        <div style="font-size:14px">Crafted with <img class="heart" src="../static/image/heart.png">By <span>CSS</span></div>
    </div>
</footer>

{% block content %}{% endblock %}
</body>

<script>
    function hasClass(element,className){
        var aSameClassEle = document.getElementsByClassName(className);
        for(var i = 0;i < aSameClassEle.length;i++){
            if(aSameClassEle[i] === element){
                return true;
            }
        }
        return false;
    }

    function set_menu() {
        let menu = document.getElementById("menu");
        if (hasClass(menu, 'hidden')) {
            return menu.classList.remove("hidden")
        }
        else {
            return menu.classList.add("hidden")
        }
    }

    function set_language(){
        let language = document.getElementById("language");
        if (hasClass(language,'hidden')) {
            return language.classList.remove("hidden")
        }
        else {
            return language.classList.add("hidden")
        }
    }

    function set_app() {
        let app = document.getElementById("app");
        if (hasClass(app, 'hidden')) {
            return app.classList.remove('hidden')
        }
        else {
            return app.classList.add('hidden')
        }
    }

    function set_profile() {
        let profile = document.getElementById("profile");
        if (hasClass(profile, 'hidden')) {
            return profile.classList.remove('hidden')
        }
        else {
            return profile.classList.add('hidden')
        }
    }

    function set_message() {
        let message = document.getElementById("message");
        if (hasClass(message, 'hidden')) {
            return message.classList.remove('hidden')
        }
        else {
            return message.classList.add('hidden')
        }
    }

    function set_mega_menu() {
        let mega = document.getElementById("mega_menu");
        if (hasClass(mega, 'hidden')) {
            return mega.classList.remove('hidden')
        }
        else {
            return mega.classList.add('hidden')
        }
    }
</script>
