<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
<link rel="icon" href="{{ url_for('static', filename='wither_rose.png') }}">

<form method="POST">
<div class="main_block">
    <div class="left-side">
       <div class="first"><span class="first_span">We are</span> wither</div>

       <div class="second"><p>Welcome Back, Please login</p>
        <p>to your account</p></div>

        <div class="third">
            <input name="email" type="email" autocomplete="off" required>
            <p style="top:5px">Email Address</p>
            <input style="top:62px" name="password" type="password" required>
            <p style="top:65px">Password</p>
        </div>

        <div class="fourth">
            <input type="checkbox">
            <p style="left:25px">Remember me</p>
            <a href="{{ url_for('manage.forget') }}"><p style="right:120px">forget password</p></a>
        </div>

        <div class="fifth">
            <input class="login" type="submit" value="Login">
            <div class="sign">
            <a href="{{ url_for('manage.register') }}"><p>Sign up</p></a>
            </div>
        </div>

    </div>
</form>
    <div class="right-side"></div>

</div>