<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
<link rel="icon" href="{{ url_for('static', filename='wither_rose.png') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<div class="main_block">
    <div class="left_block"></div>
<form method="POST">
    <div class="right_block">
        <div class="first"><span class="first_span">You are </span>rebirth</div>

        <div class="second"><p>Welcome there, Please register your account</p></div>

        <div class="third">
            <input name="email" type="email" autocomplete="off" required>
            <p style="top:5px">Email Address</p>
            <input style="top:62px" name="password" type="password" required>
            <p style="top:65px">Password</p>
            <input style="top:124px" name="name"  autocomplete="off" required>
            <p style="top:125px">Username</p>
        </div>

        <div class="fourth" style="top:365px">
            <input class="submit" type="submit" value="submit">
            <div class="log"><a href={{ url_for('manage.login') }}>Login</a></div>
        </div>

        <div class="sixth">
            <p style="color:rgb(128,128,128,0.7)">If you have registered before</p>
            <a href={{ url_for('manage.login') }}><p>Just login</p></a>
        </div>
    </form>
        
    </div>

</div>