<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
<link rel="icon" href="{{ url_for('static', filename='wither_rose.png') }}">

<div class="video-box" >
    <video class="video-background" preload="auto" loop playsinline autoplay src="../static/image/starsky.mp4" tabindex="-1" muted="muted"></video>
    <div class="slogan">
        <a href="{{ url_for('manage.login') }}"><p>You need to press this place to the manage console</p></a>
    </div>
</div>

 