{% extends "base.html" %}

{% block header %}
<h1>{% block title %}锐鹿保{% endblock %}</h1>
{% endblock %}

{% block content %}
<body style="background: white">
<div class="space-around">
<a href="{{ url_for('service.report_crime')}}">
<div class="Report-crime">
    <h3 class="white-deco">我要报案</h3>
    <p>发起新的案件理赔</p>
    <p><img class="go-image" src="../static/image/go.png"></p>
</div>
</a>

<a href="{{ url_for('service.progress_query') }}">
<div class="progress-query">
    <h3 class="white-deco">进度查询</h3>
    <p>案件处理及进度查询</p>
    <p><img class="go-image" src="../static/image/go.png"></p>
</div>
</a>
</div>

<h1 class="report">理赔攻略</h1>

<div class="strategy">
    <h2>理赔攻略你知道多少？</h2>
    <h3>保险理赔流程及技巧</h3>
</div>

<div class="material">
    <div class="caption">
    <p>财产保险理赔需要什么理赔资料</p>
    <ul>
        <li>锐鹿保</li>
        <li class="view_account">浏览量:1056人</li>
    </div>
<img class="material-image" src="../static/image/ad-1.jpg">
</div>

<div class="material">
    <div class="caption">
    <p>财产保险理赔需要什么理赔资料</p>
    <ul>
        <li>锐鹿保</li>
        <li class="view_account">浏览量:326人</li>
    </div>
<img class="material-image" src="../static/image/ad-5.png">
</div>

<div class="material">
    <div class="caption">
    <p>财产保险理赔需要什么理赔资料</p>
    <ul>
        <li>锐鹿保</li>
        <li class="view_account">浏览量:396人</li>
    </div>
<img class="material-image" src="../static/image/ad-6.png">
</div>

<div class="material">
    <div class="caption">
    <p>财产保险理赔需要什么理赔资料</p>
    <ul>
        <li>锐鹿保</li>
        <li class="view_account">浏览量:1453人</li>
    </div>
<img class="material-image" src="../static/image/ad-4.jpg">
</div>
</body>
{% endblock %}