{% extends "base.html" %}

{% block header %}
<h1>{% block title %}锐鹿保{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" autocomplete="off">
<div style="padding-top:10px; display:flex">
    <input id="query" value="输入出险人姓名、报案号查询"
    onfocus = "if (value==defaultValue)value=''" onblur="if(!value)value=defaultValue" />
    <input class='check' style="min-width:80px" type="submit" value="搜索">
</div>
</form>
{% for service in services %}
<div class="query">
    <div class="flex">
    <h3 style="padding-left:15px">出险人:{{ service['p.person_name']}} </h3>
    <p style="position: absolute;right: 15px;">{{ service['case_status'] }}</p>
    </div>
<img src="../static/image/horizontal-line.png">
    <ul>
        <li>报案号:{{ service['crime_id'] }}</li>
        <li>保单号:{{ service['insurance_id'] }}</li>
        <li>出险时间:{{ service['service_date'] }}</li>
        <li>案件进展:{{ service['case_progress'] }}</li>
    </ul>
<img src="../static/image/horizontal-line.png">
<div style="height:45px">
    <div class="connect"><p>联系理赔员</p></div>
    <div class="upload"><p>拍摄上传理赔材料</p></div>
</div>
</div>
{% endfor %}
{% endblock %}