{% extends "base.html" %}

{% block header %}
<h1>{% block title %}锐鹿保{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" autocomplete="off">
<div style="padding-top:10px; display:flex">
    <input id="query" value="输入出险人姓名、报案号查询"
    onfocus = "if (value==defaultValue)value=''" onblur="if(!value)value=defaultValue" />
    <input class='check' style="min-width:80px" type="submit" value="搜索">
</div>
</form>

<div id="no-record">
    <img style="width:300px" src="../static/image/no-record.png">
    <p>暂无理赔记录</p>
</div>

{% endblock %}