{% extends "base.html" %}

{% block header %}
<h1>{% block title %}锐鹿保{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="bar_frame">
    <p class="bar_left">出险人信息</p>
</div>
<div class="below_area" style="height:185px"> 
    <img src="../static/image/horizontal-line.png">
    <div class="below_area_1" style="display: flex;line-height: 35px;height: 175px;bottom:6px">
        <ul style="left:-20px">
            <li>姓名</li>
            <li>性别</li>
            <li>出生日期</li>
            <li>联系电话</li>
        </ul>
        <ul style="left:220px">
            <li>戴友名</li>
            <li>男</li>
            <li>1969-07-09</li>
            <li>1888888888</li>
        </ul>
    </div>
</div>

<div class="bar_frame">
    <p class="bar_left">案件详情信息</p>
</div>
<div class="below_area" style="height:290px"> 
    <img src="../static/image/horizontal-line.png">
    <div class="below_area_1" style="display: flex;line-height: 35px;height: 280px;bottom:6px">
        <ul style="left:-20px">
            <li>出险信息</li>
            <li>报案原因</li>
            <li>人员治疗情况</li>
            <li>事故描述</li>
            <li>报案号</li>
            <li>保单号</li>
        </ul>
        <ul style="left:220px">
            <li>2023-08-04 16:00:00</li>
            <li>人员受伤</li>
            <li>门诊治疗</li>
            <li>8月10日15:00左右,在贵阳到金沙路段因避让行人,处理措施不当,导致该车撞上障碍物.</li>
            <li>GKAZ20230807100401</li>
            <li>T2307300000005370102155</li>
        </ul>
    </div>
</div>

<div class="bar_frame">
    <p class="bar_left">从医院获取的材料</p>
    <p class="bar_right">共8项 ></p>
</div>

<div class="bar_frame">
    <p class="bar_left">中企业提供的材料</p>
    <p class="bar_right">共5项 ></p>
</div>

<div class="end_block">
    <input type="submit" value="撤销">
    <div class="end_block_next" ><p style="left:85px">补充上传资料</p></div>
</div>
{% endblock %}