{% extends "base.html" %}

{% block header %}
<h1>{% block title %}锐鹿保{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="bar_frame">
    <p class="bar_left" style="font-weight: 500;letter-spacing: 0.5px;font-size: 18px;">出险人信息</p>
</div>
<div class="below_area" style="height:185px"> 
    <img src="../static/image/horizontal-line.png">
    <div class="below_area_1" style="display: flex;line-height: 35px;height: 175px;bottom:6px">
        <ul class="left_side">
            <li>姓名</li>
            <li>性别</li>
            <li>出生日期</li>
            <li>联系电话</li>
        </ul>
        <ul style="left:220px">
            <li> {{ post['person_name'] }}</li>
            <li>{{ post['person_gender'] }}</li>
            <li>{{ post['person_birth'] }}</li>
            <li>{{ post['person_phone'] }}</li>
        </ul>
    </div>
</div>

<div class="bar_frame">
    <p class="bar_left" style="font-weight: 500;letter-spacing: 0.5px; font-size: 18px;">案件详情信息</p>
</div>
<div class="below_area" style="height:290px"> 
    <img src="../static/image/horizontal-line.png">
    <div class="below_area_1" style="display: flex;line-height: 35px;height: 280px;bottom:6px">
        <ul class="left_side">
            <li>出险日期</li>
            <li>报案原因</li>
            <li>人员治疗情况</li>
            <li style="height:55px">事故描述</li>
            <li>报案号</li>
            <li>保单号</li>
        </ul>
        <ul style="left:220px">
            <li>{{ post['service_date'] }}</li>
            <li>{{ post['service_reason']}}</li>
            <li>{{ post['treatment'] }}</li>
            <li style="height:55px">{{ post['service_description'] }}</li>
            <li>{{ post['crime_id'] }}</li>
            <li>{{ post['insurance_id'] }}</li>
        </ul>
    </div>
</div>

<div class="bar_frame" style="font-weight: 500;letter-spacing: 0.5px;">
    <p class="bar_left">从医院获取的材料</p>
    <p class="bar_right">共8项 ></p>
</div>

<div class="bar_frame" style="font-weight: 500;letter-spacing: 0.5px;">
    <p class="bar_left">中企业提供的材料</p>
    <p class="bar_right">共5项 ></p>
</div>

<div class="end_block">
    <a style="text-decoration:none; color:black" href="{{ url_for('service.query_delete', service_id=post['service_id']) }}">
    <input class="save" type="submit" value="撤销"></a>
    <input type="submit" value="补充上传材料" class="end_block_next">
</div>
{% endblock %}