{% extends "base.html" %}

{% block header %}
<h1>{% block title %}锐鹿保{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" style="margin:unset" enctype="multipart/form-data">
    <div style="display:flex;margin-top: 10px;">
        <div class="left_block" style="background:rgb(128,128,128,0.5); color:white"><p>提交出险信息</p></div>
        <div class="right_block" style="background:white;color:royalblue"><p>上传出险图片</p></div>
    </div>

<div class="bar_frame">
    <p class="bar_left">由出险人提供的材料</p>
    <p class="bar_right">共2项</p>
    <img class="arror" onclick="clear_below_1st();add_rotate_1st()"  id="down_arrow_1st" src="../static/image/down-arrow.png">
</div>

<div id="below_area_1st" class="hidden"> 
    <img src="../static/image/horizontal-line.png">
    <div class="below_area_1">
        <h3>伤者全身照</h3>
        <a href="{{ url_for("service.material_example") }}"><button class="example">查看示例</button></a>
        <p>需拍摄者站立或卧床的全身照,确保伤者面部清晰,并可见受伤位置</p>
            <div class="camera" style="left:20px"><img style="width: 40px;height: 35px;" src="../static/image/camera.png"></div>
            <input name="myfile" type="file"  multiple="multiple" class="image_upload camera_button" style="margin-bottom:0px">
    </div>
    <img src="../static/image/horizontal-line.png" style="position: relative;bottom: 24px;">
    <div class="below_area_1" style="bottom:46px">
        <h3>受伤部位特写</h3>
        <a href="{{ url_for("service.material_example") }}"><button class="example">查看示例</button></a>
        <p>须可见受伤部位所在的身体位置,及受伤情况</p>
        <div class="camera" style="left:20px"><img style="width: 40px;height: 35px;" src="../static/image/camera.png"></div>
        <input name="myfile" type="file" class="image_upload camera_button" style="margin-bottom:0px">
    </div>
</div>

<div class="bar_frame">
    <p class="bar_left">事故现场材料 (现场拍照)</p>
    <p class="bar_right">共1项</p>
    <img class="arror" onclick="clear_below_2rd();add_rotate_2rd()" id="down_arrow_2rd" src="../static/image/down-arrow.png">
</div>

<div id="below_area_2rd" class="hidden"> 
    <img src="../static/image/horizontal-line.png">
    <div class="below_area_1">
        <h3>伤者全身照</h3>
        <a href="{{ url_for("service.material_example") }}"><button class="example">查看示例</button></a>
        <p>需拍摄者站立或卧床的全身照,确保伤者面部清晰,并可见受伤位置</p>
        <div class="camera" style="left:20px"><img style="width: 40px;height: 35px;" src="../static/image/camera.png"></div>
        <input name="myfile" type="file" class="image_upload camera_button" style="margin-bottom:0px">
    </div>
</div>

<div class="bar_frame">
    <p class="bar_left">从医院获取的材料</p>
    <p class="bar_right">共8项</p>
    <img class="arror" onclick="clear_below_2rd();add_rotate_2rd()" id="down_arrow_2rd" src="../static/image/down-arrow.png">
</div>

<div class="bar_frame">
    <p class="bar_left">中企业提供的材料</p>
    <p class="bar_right">共5项</p>
    <img class="arror" onclick="clear_below_2rd();add_rotate_2rd()" id="down_arrow_2rd" src="../static/image/down-arrow.png">
</div>

<div class="end_block">
    <input class="save" type="submit" value="保存">
    <input type="submit" value="下一步" class="end_block_next">
</div>
</form>

<script>
    
    function hasClass(element,className){
        var aSameClassEle = document.getElementsByClassName(className);
        for(var i = 0;i < aSameClassEle.length;i++){
            if(aSameClassEle[i] === element){
                return true;
            }
        }
        return false;
    }

    function clear_below_1st(){
        let below_1st = document.getElementById("below_area_1st");
        if (hasClass(below_1st,'hidden')) {
            return below_1st.classList.remove("hidden")
        }
        else {
            return below_1st.classList.add("hidden")
        }
    }

    function add_rotate_1st() {
        let down_arrow = document.getElementById("down_arrow_1st");
        if (hasClass(down_arrow,'rotate')) {
            return down_arrow.classList.remove("rotate")
        }
        else {
            return down_arrow.classList.add("rotate")
        }
    }

    function clear_below_2rd(){
        let below_2rd = document.getElementById("below_area_2rd");
        if (hasClass(below_2rd,'hidden')) {
            return below_2rd.classList.remove("hidden")
        }
        else {
            return below_2rd.classList.add("hidden")
        }
    }

    function add_rotate_2rd() {
        let down_arrow = document.getElementById("down_arrow_2rd");
        if (hasClass(down_arrow,'rotate')) {
            return down_arrow.classList.remove("rotate")
        }
        else {
            return down_arrow.classList.add("rotate")
        }
    }

</script>
{% endblock %}